<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ankete</title>
    <link rel='stylesheet' href='/stylesheets/ankete.css' />


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div class="container"><br>
        <a class="bg-primary p-3 text-light" href="/predavanje/<%= user %>">Napravite Novo Predavanje</a>
    </div>
    <br><br>
    <div class="container">
        <div class="list-group">
            <%predavanja.forEach(p => {%>
            <a href="/pitanje/<%= p.kod %>" class="list-group-item list-group-item-action">
                <h5><strong>Predmet: </strong><%= p.predmet %></h5>
                <p><strong>Predavanje: </strong><%= p.naziv %> | <strong>Kod: </strong> <%= p.kod %></p>
            </a>
            <%})%>
        </div>
    </div>

</body>
</html>
